<a href="https://colab.research.google.com/github/mokshmahajan2004/AI-Lab-Assignments/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Printing and Variables**

---

•	Write a program to print "Hello, World!"

In [ ]:
print("Hello, World!")

Hello, World!

•	Declare variables of different data types (string, integer, float) and print their values.

In [ ]:
a = 10
print(a)
b=10.01
print(b)
c="hello"
print(c)

10
10.01
hello

•	Swap the values of two variables without using a third variable.

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print('a is',a )
print('b is',b)

a is 20
b is 10

# **2. Data Types and Type Conversion**

---

•	Take input from the user and print the data type of the entered value.

In [ ]:
name=input("Enter a value: ")
print(type(name))

Enter a value: 12
<class 'str'>

In [ ]:
print(type(eval(input("Enter a value: "))))

Enter a value: 15
<class 'int'>

•	Convert a string to an integer and perform arithmetic operations.

In [ ]:
a,b=1,"2"
c=(a+int(b))
print(c)

3

•	Explore implicit and explicit type conversions in Python.

In [ ]:
# Integer to float conversion
num_int = 10
num_float = 2.5
result = num_int + num_float  # Implicit conversion happens here
print(result)  # Output: 12.5
print(type(result))  # Output: <class 'float'>

12.5
<class 'float'>

In [ ]:
# Explicit conversion using int() and str()
num_str = "100"
num_int = int(num_str)  # Converts string to integer
print(num_int, type(num_int))  # Output: 100 <class 'int'>

100 <class 'int'>

# **3. Conditional Statements**

---

•	Write a program to check if a number is positive, negative, or zero.

In [ ]:
num=int(input("Enter a number: "))
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
else:
  print("Zero")

Enter a number: 10
Positive

•	Create a program to determine if a given year is a leap year.

In [ ]:
year=int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("Leap Year")
else:
  print("Not a Leap Year")

Enter a year: 1900
Not a Leap Year

•	Develop a simple grade calculator based on user input for marks.

In [ ]:
marks=int(input("Enter your marks: "))
if marks>=90:
  print("Grade A")
elif marks>=80:
  print("Grade B")
elif marks>=70:
  print("Grade C")

Enter your marks: 72
Grade C

# **4. Loops**

---

•	Write a program to print numbers from 1 to 100.

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

•	Create a multiplication table generator.

In [ ]:
num=int(input("Enter a number: "))
for i in range(1,11):
  print(num,"x",i,"=",num*i)

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

•	Implement a program to find the sum of all even numbers up to a given limit.

In [ ]:
num=int(input("Enter a number: "))
sum=0
for i in range(1,num+1):
  if i%2==0:
    sum+=i
print(sum)

Enter a number: 10
30

# **5. Functions**

---

•	Create a function to calculate the factorial of a number.

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
fact(5)

120

•	Write a function to check if a string is a palindrome.

In [13]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage
string = input("Enter a string: ")
if is_palindrome(string):
    print(f"'{string}' is a palindrome.")
else:
    print(f"'{string}' is not a palindrome.")

Enter a string: abcba
'abcba' is a palindrome.

•	Develop a function to find the greatest common divisor (GCD) of two numbers.

In [ ]:
num1=int(input("Enter a number: "))
num2=int(input("Enter a number: "))
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(num1,num2))

Enter a number: 10
Enter a number: 7
1

# **6. Lists**

---

•	Write a program to find the largest and smallest elements in a list.

In [ ]:
list1=[2,4,1,6]
print(max(list1))
print(min(list1))

6
1

•	Reverse a list without using built-in functions.

In [ ]:
list1=[2,4,1,6]
list1.reverse()
print(list1)

[6, 1, 4, 2]

•	Remove duplicates from a list and display the result.

In [ ]:
list1=[2,4,1,6,1,2,3]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[2, 4, 1, 6, 3]

# **7. Strings**

---

•	Count the number of vowels in a string.

In [ ]:
count=0
word=str(input("Enter a word: "))
for i in word:
  if i in "aeiouAEIOU":
    count+=1
print(count)

Enter a word: moksh
1

•	Reverse a string without using slicing.

In [ ]:
word=str(input("Enter a word: "))
for i in range(len(word)-1,-1,-1):
  print(word[i],end="")

Enter a word: moksh
hskom

•	Find the frequency of each character in a string.

In [ ]:
word=str(input("Enter a word: "))
freq={}
for i in word:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

Enter a word: moksh
{'m': 1, 'o': 1, 'k': 1, 's': 1, 'h': 1}

# **8. Dictionaries**

---

•	Create a dictionary to store student names and their grades. Display the highest and lowest grades.

In [ ]:
# Predefined dictionary of students and their grades
students = {
    "Ram": 85,
    "Shyam": 92,
    "Khyati": 78,
    "Diya": 95,
    "Sia": 88
}

# Find the highest and lowest grades
highest_grade = max(students.values())
lowest_grade = min(students.values())

# Find the students with the highest and lowest grades
highest_students = [name for name, grade in students.items() if grade == highest_grade]
lowest_students = [name for name, grade in students.items() if grade == lowest_grade]

# Display the results
print("\nResults:")
print(f"Highest Grade: {highest_grade}, achieved by: {', '.join(highest_students)}")
print(f"Lowest Grade: {lowest_grade}, achieved by: {', '.join(lowest_students)}")

Results:
Highest Grade: 95, achieved by: Diya
Lowest Grade: 78, achieved by: Khyati

•	Count the occurrences of each word in a sentence.

In [ ]:
# Input a sentence from the user
sentence = input("Enter a sentence: ")

# Split the sentence into words
words = sentence.split()

# Create a dictionary to store word counts
word_count = {}

# Count the occurrences of each word
for word in words:
    word = word.lower()  # Convert to lowercase for case-insensitive counting
    word_count[word] = word_count.get(word, 0) + 1

# Display the word count
print("\nWord Occurrences:")
for word, count in word_count.items():
    print(f"{word}: {count}")

Enter a sentence: My name is Moksh

Word Occurrences:
my: 1
name: 1
is: 1
moksh: 1

•	Merge two dictionaries and sort the result by keys.

In [ ]:
# Define two dictionaries
dict1 = {"b": 2, "a": 1}
dict2 = {"d": 4, "c": 3}

# Merge and sort the dictionaries
merged_dict = {**dict1, **dict2}
sorted_dict = dict(sorted(merged_dict.items()))

# Display the result
print("Sorted Merged Dictionary:", sorted_dict)

Sorted Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# **9. File Handling**

---

•	Write data to a file and then read it back.

In [1]:
file_name = "/content/drive/MyDrive/Python_Practice/sample.txt"

# Write data to the file
with open(file_name, "w") as file:
    file.write("Hello, this is a sample text file")

# Read and print the content
with open(file_name, "r") as file:
    print(file.read())

Hello, this is a sample text file

•	Count the number of lines, words, and characters in a text file.

In [2]:
file_name = "/content/drive/MyDrive/Python_Practice/sample.txt"

# Write data to the file
with open(file_name, "w") as file:
    file.write("Hello, this is a sample text file.\n")
    file.write("Writing and reading files in Python is easy.\n")

# Count lines, words, and characters in the file
with open(file_name, "r") as file:
    lines = file.readlines()
    line_count = len(lines)
    word_count = sum(len(line.split()) for line in lines)
    char_count = sum(len(line) for line in lines)

print(f"Lines: {line_count}")
print(f"Words: {word_count}")
print(f"Characters: {char_count}")

Lines: 2
Words: 15
Characters: 80

•	Append new data to an existing file without overwriting.

In [3]:
# Open the file in append mode
with open("/content/drive/MyDrive/Python_Practice/sample.txt", "a") as file:
    # Append data to the file
    file.write("\nThis is the new data being appended.")

print("Data appended successfully.")

Data appended successfully.

# **10. Exception Handling**

---

•	Write a program that handles division by zero.

In [4]:
try:
    num = float(input("Enter the numerator: "))
    den = float(input("Enter the denominator: "))
    print(num / den if den != 0 else "Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Please enter valid numbers.")

Enter the numerator: 10
Enter the denominator: 0
Error: Division by zero is not allowed.

•	Create a program to handle invalid inputs while calculating square roots.

In [5]:
import math

try:
    num = float(input("Enter a number to calculate its square root: "))
    if num < 0:
        print("Error: Cannot calculate the square root of a negative number.")
    else:
        print(f"The square root of {num} is {math.sqrt(num):.2f}")
except ValueError:
    print("Error: Please enter a valid number.")

Enter a number to calculate its square root: -1
Error: Cannot calculate the square root of a negative number.

•	Develop a custom exception for age verification in a voting system.

In [6]:
class AgeVerificationError(Exception):
    pass

def verify_age(age):
    if age < 18:
        raise AgeVerificationError("Age must be 18 or above to vote.")
    return "You are eligible to vote."

try:
    age = int(input("Enter your age: "))
    print(verify_age(age))
except AgeVerificationError as e:
    print(f"Error: {e}")
except ValueError:
    print("Error: Please enter a valid number.")

Enter your age: 17
Error: Age must be 18 or above to vote.

# **11. Classes and Objects**

---

•	Define a class for a rectangle and calculate its area and perimeter.

In [7]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

# Example usage
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
rect = Rectangle(length, width)

print(f"Area: {rect.area()}")
print(f"Perimeter: {rect.perimeter()}")

Enter the length of the rectangle: 4
Enter the width of the rectangle: 2
Area: 8.0
Perimeter: 12.0

•	Create a student class with attributes for name, age, and grades. Add methods to display details.

In [9]:
class Student:
    def __init__(self, name, age, grades):
        self.name = name
        self.age = age
        self.grades = grades

    def display_details(self):
        print(f"Name: {self.name}, Age: {self.age}, Grades: {self.grades}")
        print(f"Average Grade: {sum(self.grades) / len(self.grades):.2f}" if self.grades else "No grades available.")

# Example usage
student = Student(
    input("Enter the student's name: "),
    int(input("Enter the student's age: ")),
    list(map(float, input("Enter the student's grades separated by spaces: ").split()))
)
student.display_details()

Enter the student's name: Moksh Mahajan
Enter the student's age: 20
Enter the student's grades separated by spaces: 90 91 78 99
Name: Moksh Mahajan, Age: 20, Grades: [90.0, 91.0, 78.0, 99.0]
Average Grade: 89.50

•	Implement an inheritance example with a base class and derived class.

In [10]:
# Base class
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return f"{self.name} makes a sound."

# Derived class
class Dog(Animal):
    def speak(self):
        return f"{self.name} barks."

# Example usage
animal = Animal("Generic Animal")
dog = Dog("Buddy")

print(animal.speak())  # Output: Generic Animal makes a sound.
print(dog.speak())     # Output: Buddy barks.

Generic Animal makes a sound.
Buddy barks.

12. Using a conditional, write the relu function defined as follows

relu={x, if x≥0; 0, otherwise

In [12]:
def relu(x):
    return x if x >= 0 else 0

# Example usage
x = float(input("Enter a number: "))
print(f"ReLU({x}) = {relu(x)}")

Enter a number: -2
ReLU(-2.0) = 0